@import "reset";
@import "index";
@import "button";
@import "historypage";
*{
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
a{
    text-decoration: none;
    display: block;
    color: $grey;
}